body{
    background-image: url("images/main1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.name{
    font-size: 130px;
    font-family:Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-weight: 900;
    
}
.im{
    color: aliceblue;
}
.bname{
    padding-left: 18%;
}
.namesub{
    color: aliceblue;
}
.mainpage{
    padding-top: 10%;
}


